@import './variables.scss';
@import './mixins';
@import './reset';
@import './general';
@import './blocks/header';
@import './blocks/preview';
@import './blocks/audience';
@import './blocks/knowledge';
@import './blocks/cards';
@import './blocks/faq';
@import './blocks/footer';
@import './blocks/preview-course';
@import './blocks/education';
@import './blocks/learn';

