.preview {

    display: flex;
    justify-content: space-between;

    &__wrp-left {}

    &__subtitle {
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #4E5AFF;
        margin: 0 0 -10px 5px;
    }

    &__title {
        font-family: 'Bebas Neue Cyrillic';
        font-style: normal;
        font-weight: 400;
        font-size: 95.5px;
        line-height: 96px;
        max-width: 575px;
    }

    &__wrp-right {
        background-color: var(--purple);
    }

    &__title-right {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
        max-width: 160px;
    }

    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14.5px;
        line-height: 18px;
        color: #FFFFFF;
        max-width: 220px;
    }

    &__logo{
        &--rotate{
            transform: rotate(-90deg);
        }
    }
}